[openshift-origin-nightly]
name=OpenShift Origin Nightly builds
baseurl=https://mirror.openshift.com/pub/origin-server/nightly/{{ ansible_distribution.lower() }}-{{ ansible_distribution_version}}/latest/{{ ansible_architecture }}/
enabled=1
gpgcheck=0
sslverify=false
