[openshift-origin-deps]
name=OpenShift Origin Supplemental Deps
baseurl=https://mirror.openshift.com/pub/origin-server/dependencies/{{ ansible_distribution.lower() }}-{{ ansible_distribution_version}}/{{ ansible_architecture }}/
enabled=1
gpgcheck=0
sslverify=false
