[openshift-origin-stable]
name=OpenShift Origin Stable
baseurl=https://mirror.openshift.com/pub/openshift-origin/release/{{oo_stable_ver}}/{{ ansible_distribution.lower() }}-{{ ansible_distribution_version}}/packages/{{ ansible_architecture }}/
enabled=1
gpgcheck=0
sslverify=false
