# Domain suffix to use for applications (Must match node config)
CLOUD_DOMAIN="{{ cloud_domain }}"
# Comma seperted list of valid gear sizes
VALID_GEAR_SIZES="small,medium"

# Default number of gears to assign to a new user
DEFAULT_MAX_GEARS="100"
# Default gear size for a new gear
DEFAULT_GEAR_SIZE="small"

#Broker datastore configuration
MONGO_REPLICA_SETS=false
# Replica set example: "<host-1>:<port-1> <host-2>:<port-2> ..."
MONGO_HOST_PORT="{{ mongo_db_fqdn }}:27017"
MONGO_USER="{{ mongo_auth_user }}"
MONGO_PASSWORD="{{ mongo_auth_passwd }}"
MONGO_DB="{{ mongo_db_name }}"

#Enables gear/filesystem resource usage tracking
ENABLE_USAGE_TRACKING_DATASTORE="false"
#Log resource usage information to syslog
ENABLE_USAGE_TRACKING_SYSLOG="false"

#Enable all broker analytics
ENABLE_ANALYTICS="false"

#Enables logging of REST API operations and success/failure
ENABLE_USER_ACTION_LOG="true"
USER_ACTION_LOG_FILE="/var/log/openshift/user_action.log"

AUTH_SALT="{{ broker_auth_salt }}"
AUTH_PRIVKEYFILE="/etc/openshift/server_priv.pem"
AUTH_PRIVKEYPASS="{{ broker_auth_key_passwd }}"
AUTH_PUBKEYFILE="/etc/openshift/server_pub.pem"
AUTH_RSYNC_KEY_FILE="/etc/openshift/rsync_id_rsa"

SESSION_SECRET="{{ broker_session_secret }}"
