# These should not be left at default values, even for a demo.
# "PUBLIC" networking values are ones that end-users should be able to reach.
PUBLIC_HOSTNAME="{{ ansible_fqdn }}"                         # The node host's public hostname
PUBLIC_IP="{{ oo_ipaddr }}"                              # The node host's public IP address
BROKER_HOST="{{ broker_fqdn }}"                     # IP or DNS name of broker server for REST API

# Usually (unless in a demo) this should be changed to the domain for your installation:
CLOUD_DOMAIN="{{ cloud_domain }}"                        # Domain suffix to use for applications (Must match broker config)

# You may want these, depending on the complexity of your networking:
EXTERNAL_ETH_DEV='{{ oo_external_iface }}'                                 # Specify the internet facing public ethernet device
# INTERNAL_ETH_DEV='eth1'                                 # Specify the internal cluster facing ethernet device

# Generally the following should not be changed:
{% if configure_cgroups  == "true" %}
ENABLE_CGROUPS=1                                          # Enable cgroups for gears (0=off, 1=on)
{% else %}
ENABLE_CGROUPS=0                                          # Enable cgroups for gears (0=off, 1=on)
{% endif %}
GEAR_BASE_DIR="/var/lib/openshift"                        # gear root directory
GEAR_SKEL_DIR="/etc/openshift/skel"                       # skel files to use when building a gear
GEAR_SHELL="/usr/bin/oo-trap-user"                        # shell to use for the gear
GEAR_GECOS="OpenShift guest"                              # Gecos information to populate for the gear user
GEAR_MIN_UID=1000                                          # Lower bound of UID used to create gears
GEAR_MAX_UID=6000                                         # Upper bound of UID used to create gears
OPENSHIFT_NODE_PLUGINS=""                                    # Extentions to load when customize/observe openshift-origin-node models
CARTRIDGE_BASE_PATH="/usr/libexec/openshift/cartridges"   # Locations where cartridges are installed
LAST_ACCESS_DIR="/var/lib/openshift/.last_access"         # Location to maintain last accessed time for gears
APACHE_ACCESS_LOG="/var/log/httpd/access_log"             # Localion of httpd for node
PROXY_MIN_PORT_NUM=35531                                  # Lower bound of port numbers used to proxy ports externally
PROXY_PORTS_PER_GEAR=5                                    # Number of proxy ports available per gear
CREATE_APP_SYMLINKS=0                                     # If set to 1, creates gear-name symlinks to the UUID directories (debugging only)
OPENSHIFT_HTTP_CONF_DIR="/etc/httpd/conf.d/openshift"
