#%PAM-1.0
auth       required     pam_sepermit.so
auth       substack     password-auth
auth       include      postlogin
account    required     pam_nologin.so
account    include      password-auth
password   include      password-auth
# pam_openshift.so close should be the first session rule
session    required     pam_openshift.so close
session    required     pam_loginuid.so
# pam_openshift.so open should only be followed by sessions to be executed in the user context
session    required     pam_openshift.so open env_params
session    optional     pam_keyinit.so force revoke
session    include      password-auth
session    include      postlogin
session         required        pam_namespace.so no_unmount_on_close
{% if configure_cgroups == "true" %}
session     optional    pam_cgroup.so
{% endif %}
