interface "{{ ansible_default_ipv4.interface }}" {
  prepend domain-name-servers {{ ansible_default_ipv4.10.0.0.1;
  supersede host-name "{{ ansible_hostname }}";
  supersede domain-name "{{ cloud_domain }}";
}
