$ORIGIN .
$TTL 1800       ; 30 minutes
{{ infra_domain }}            IN SOA  ns1.{{ infra_domain }}. hostmaster.{{ infra_domain }}. (
        2011112908 ; serial
        60         ; refresh (1 minute)
        15         ; retry (15 seconds)
        1800       ; expire (30 minutes)
        10         ; minimum (10 seconds)
        )
      NS        ns1.{{ infra_domain }}.
$ORIGIN {{ infra_domain }}
ns1                     A       {{ oo_ipaddr }}
broker                  A       {{ oo_ipaddr }}
msg1                    A       {{ oo_ipaddr }}
node1                   A       {{ oo_ipaddr }}
