MONGO_REPLICA_SETS=false
# Replica set example: "<host-1>:<port-1> <host-2>:<port-2> ..."
MONGO_HOST_PORT="{{ mongo_db_fqdn }}:27017"
MONGO_USER="{{ mongo_auth_user }}"
MONGO_PASSWORD="{{ mongo_auth_password }}"
MONGO_DB="{{ mongo_db_name }}"
MONGO_COLLECTION="auth_user"
